<h1> Материалы курса "Анализ данных в инфромационной безопасности" </h1>

<h2> Практическое занятие № 2.1 </h2>

<h2> Тема: "Python+SQLite" </h2>

<h2>Автор:</h2>

<p>Синадский Алексей</p>
<p>Исследователь исследовательского центра UDV Group</p>
<p>aleksei.sinadskiy@udv.group</p>

Содержание:
- Чтение данных из Excel
- Создание БД
- Проектирование и создание таблиц
- Вставка данных
- Получение данных
- Анализ имеющихся данных
- Построение модели прогнозирования средствами SQL

# Импорт нужных модулей

In [10]:
import pandas as pd  # для обработки данных в Python
import sqlite3  # лёгкая БД - подробнее посмотреть можно тут: https://habr.com/ru/articles/754400/
import contextlib  # для удобного открытия и закрытия подключеия к БД

# Чтение и запись данных XLSX

## Чтение

Путь к файлу

In [11]:
xlsx_file_path = './Автосалон_амбарная_книга.xlsx'
sheet_name = 'Sheet1'

Прочитайте данные из файла с помощью Pandas

In [12]:
df = pd.read_excel(xlsx_file_path, sheet_name=sheet_name)

Посмотрите результат

In [13]:
df

                   Worker                  Car          Result
0    Андрей 20 лет холост     Lada 21063 VIN 1  Заработал 117$
1     Никита 25 лет женат    Ford Sierra VIN 2   Заработал 87$
2      Иван 35 лет холост         ИЖ Ода VIN 3   Заработал 100
3    Андрей 20 лет холост  Nissan Pulsar VIN 4     Потерял 91$
4     Никита 25 лет женат  Nissan Pulsar VIN 5    Потерял 126$
..                    ...                  ...             ...
295   Никита 25 лет женат  Peugeot 206 VIN 296  Заработал 455$
296    Иван 35 лет холост  Ford Sierra VIN 297  Заработал 415$
297  Андрей 20 лет холост  Peugeot 206 VIN 298  Заработал 395$
298   Никита 25 лет женат  Москвич 412 VIN 299   Заработал 364
299    Иван 35 лет холост  Ford Sierra VIN 300    Потерял 480$

[300 rows x 3 columns]

## Запись

Запишите данные в файл XLSX с другим названием

In [14]:
df.to_excel('output.xlsx', sheet_name=sheet_name, index=False)

## Предобработка

Выделите марку машины и её идентификатор в отдельные поля. Столбцы назовите `car_model` и `car_vin`

In [15]:
df['car_model'] = df.apply(lambda row: row.Car.split('VIN')[0], axis=1)
df['car_vin'] = df.apply(lambda row: row.Car.split('VIN')[1], axis=1)

Посмотрите результат

In [16]:
df.head(5)

,Worker,Car,Result,car_model,car_vin
0,Андрей 20 лет холост,Lada 21063 VIN 1,Заработал 117$,Lada 21063,1
1,Никита 25 лет женат,Ford Sierra VIN 2,Заработал 87$,Ford Sierra,2
2,Иван 35 лет холост,ИЖ Ода VIN 3,Заработал 100,ИЖ Ода,3
3,Андрей 20 лет холост,Nissan Pulsar VIN 4,Потерял 91$,Nissan Pulsar,4
4,Никита 25 лет женат,Nissan Pulsar VIN 5,Потерял 126$,Nissan Pulsar,5

Выделите результат продажи в виде числа в формате float.

Напишите функцию, которая по значению столбца Result возвращает численное значение, а затем примените её в `map`

In [17]:
def user_readable_result_to_numbers(result_str):
    """
    Возваращает численное значение результата продажи по строковому из амбарной книги

    Parameters
    ----------
    result_str : str
        Строковое описание результата продажи из амбарной книги

    Returns
    -------
    numeric_result : float
        Численное значение результата продажи

    Raises
    ------
    ValueError
        Вызывается в случае, если встречено не интерпретируемое значение
    """
    numeric_result = 0
    direction, value_str = result_str.split(' ')
    abs_value = float(value_str.rstrip("$"))
    if direction == "Заработал":
      numeric_result = abs_value
    elif direction == "Потерял":
      numeric_result = -abs_value
    else:
      raise ValueError("Unexpected format of data in treding results")
    return numeric_result

df['trade_result'] = df['Result'].map(user_readable_result_to_numbers)

In [18]:
df

,Worker,Car,Result,car_model,car_vin,trade_result
0,Андрей 20 лет холост,Lada 21063 VIN 1,Заработал 117$,Lada 21063,1,117.0
1,Никита 25 лет женат,Ford Sierra VIN 2,Заработал 87$,Ford Sierra,2,87.0
2,Иван 35 лет холост,ИЖ Ода VIN 3,Заработал 100,ИЖ Ода,3,100.0
3,Андрей 20 лет холост,Nissan Pulsar VIN 4,Потерял 91$,Nissan Pulsar,4,-91.0
4,Никита 25 лет женат,Nissan Pulsar VIN 5,Потерял 126$,Nissan Pulsar,5,-126.0
...,...,...,...,...,...,...
295,Никита 25 лет женат,Peugeot 206 VIN 296,Заработал 455$,Peugeot 206,296,455.0
296,Иван 35 лет холост,Ford Sierra VIN 297,Заработал 415$,Ford Sierra,297,415.0
297,Андрей 20 лет холост,Peugeot 206 VIN 298,Заработал 395$,Peugeot 206,298,395.0
298,Никита 25 лет женат,Москвич 412 VIN 299,Заработал 364,Москвич 412,299,364.0
299,Иван 35 лет холост,Ford Sierra VIN 300,Потерял 480$,Ford Sierra,300,-480.0

Выделите сотрудников в отдельный датафрейм. В нём должны быть колонки `name`, `age`, `marital_status`

In [19]:
def user_readable_worker_to_details(worker_str):
    """
    Возвращает информационные поля по строковому описанию сотрудника из амбарной книги

    Parameters
    ----------
    worker_str : str
        Описание сотрудника из амбарной книги

    Returns
    -------
    tuple
        Набор свойств сотрдуника: имя, возраст, семейное положение
    """
    name, age, _, marital_status = worker_str.split(' ')
    return name, age, marital_status

df_workers = pd.DataFrame(columns=['name', 'age', 'marital_status'])
df_workers[['name', 'age', 'marital_status']] = df['Worker'].map (user_readable_worker_to_details).apply(pd.Series)
df_workers = df_workers.drop_duplicates()  # удаление полных дубликатов

In [20]:
df_workers

     name age marital_status
0  Андрей  20         холост
1  Никита  25          женат
2    Иван  35         холост

# Проектирование и создание таблиц

Общий синтаксис:
```
connection = sqlite3.connect('my_database.db')
cursor = connection.cursor()
cursor.execute('SQL statement')
connection.commit()
connection.close()
```
Для автозакрытия можно использовать
```with contextlib.closing(sqlite3.connect(path_to_file)) as conn```

Для автокоммита:
```with contextlib.closing(conn.cursor()) as cursor```

В итоге с автозакрытием подключения и автокоммитом:
```
with contextlib.closing(sqlite3.connect(path_to_file)) as conn:
    with contextlib.closing(conn.cursor()) as cursor:
        cursor.execute(SQL statement)
```

Не требуется в каждой записи хранить информацию о сотруднике - вынесем его в отдельную таблицу.

Также не будем хранить старые поля - сохраним только вновь выделенные.

Создадим две таблицы: "Сотрудники" и "Продажи".

В таблице "Сотрудники" создайте поля "Имя", "Возраст", "Семейное положение"

In [21]:
with contextlib.closing(sqlite3.connect('dealership.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
            CREATE TABLE IF NOT EXISTS Workers (
              id INTEGER PRIMARY KEY,
              name TEXT NOT NULL,
              age INTEGER,
              marital_status TXT
            )
            '''
        )

В таблице "Продажи" создайте поля "Модель машины", "Идентификатор машины", "Результат продажи", "Идентификатор продавца"

In [22]:
with contextlib.closing(sqlite3.connect('dealership.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
            CREATE TABLE IF NOT EXISTS Sales (
              id INTEGER PRIMARY KEY,
              car_model TEXT NOT NULL,
              car_vin TEXT NOT NULL,
              trade_result REAL NOT NULL,
              worker_id INT NOT NULL
            )
            '''
        )

# Вставка данных

Добавьте данные о сотрудниках из `df_workers` в таблицу `Workers` БД

In [25]:
data = list(zip(df_workers['name'], df_workers['age'], df_workers['marital_status']))  # преобразуем столбцы DataFrame в кортежи

with contextlib.closing(sqlite3.connect('dealership.db')) as connection:
    cursor = connection.cursor()
    cursor.executemany(  # executemany - для набора данных
        'INSERT INTO Workers (name, age, marital_status) VALUES (?, ?, ?)', data

    )
    connection.commit()
data

[('Андрей', '20', 'холост'),
 ('Никита', '25', 'женат'),
 ('Иван', '35', 'холост')]

Добавьте данные о продажах в таблицу `Sales` (для каждой продажи нужно добавить ссылку на сотрудника в таблице сотрудников)

In [24]:
workers_saved = list(df_workers.name + ' ' + df_workers.age + ' лет ' + df_workers.marital_status)  # список всех работников, по которому можно будет выбрать индекс

data = list(zip(df['car_model'], df['car_vin'], df['trade_result'],
                [workers_saved.index(worker_str) + 1 for worker_str in df.Worker]))

with contextlib.closing(sqlite3.connect('dealership.db')) as connection:
    cursor = connection.cursor()
    cursor.executemany(
        'INSERT INTO Sales (car_model, car_vin, trade_result, worker_id) VALUES (?, ?, ?, ?)', data
    )
    connection.commit()
data

[('Lada 21063 ', ' 1', 117.0, 1),
 ('Ford Sierra ', ' 2', 87.0, 2),
 ('ИЖ Ода ', ' 3', 100.0, 3),
 ('Nissan Pulsar ', ' 4', -91.0, 1),
 ('Nissan Pulsar ', ' 5', -126.0, 2),
 ('Lada 21063 ', ' 6', 89.0, 3),
 ('Ford Sierra ', ' 7', 101.0, 1),
 ('Daewoo Nexia ', ' 8', 99.0, 2),
 ('Nissan Pulsar ', ' 9', 109.0, 3),
 ('Москвич 412 ', ' 10', 109.0, 1),
 ('Peugeot 206 ', ' 11', -95.0, 2),
 ('ГАЗ 21 ', ' 12', 114.0, 3),
 ('Москвич 412 ', ' 13', 95.0, 1),
 ('Nissan Pulsar ', ' 14', 100.0, 2),
 ('Nissan Pulsar ', ' 15', -95.0, 3),
 ('Ford Sierra ', ' 16', 102.0, 1),
 ('Mercedes W201 ', ' 17', 138.0, 2),
 ('Nissan Pulsar ', ' 18', 138.0, 3),
 ('Ford Sierra ', ' 19', 136.0, 1),
 ('Lada 21063 ', ' 20', 125.0, 2),
 ('Ford Sierra ', ' 21', 121.0, 3),
 ('Ford Sierra ', ' 22', 105.0, 1),
 ('Mercedes W201 ', ' 23', 136.0, 2),
 ('Daewoo Nexia ', ' 24', 105.0, 3),
 ('Nissan Pulsar ', ' 25', 145.0, 1),
 ('Peugeot 206 ', ' 26', 113.0, 2),
 ('Москвич 412 ', ' 27', 111.0, 3),
 ('Daewoo Nexia ', ' 28', 152.0, 1),
 ('Nissan Pulsar ', ' 29', 152.0, 2),
 ('Peugeot 206 ', ' 30', 120.0, 3),
 ('Москвич 412 ', ' 31', -129.0, 1),
 ('ГАЗ 21 ', ' 32', 118.0, 2),
 ('Москвич 412 ', ' 33', 160.0, 3),
 ('ГАЗ 21 ', ' 34', 151.0, 1),
 ('Mercedes W201 ', ' 35', 153.0, 2),
 ('Lada 21063 ', ' 36', -147.0, 3),
 ('Ford Sierra ', ' 37', 116.0, 1),
 ('Ford Sierra ', ' 38', 151.0, 2),
 ('Peugeot 206 ', ' 39', -116.0, 3),
 ('Mercedes W201 ', ' 40', 112.0, 1),
 ('Mercedes W201 ', ' 41', 118.0, 2),
 ('Mercedes W201 ', ' 42', 153.0, 3),
 ('Lada 21063 ', ' 43', 141.0, 1),
 ('Peugeot 206 ', ' 44', 138.0, 2),
 ('Mercedes W201 ', ' 45', 123.0, 3),
 ('ГАЗ 21 ', ' 46', 118.0, 1),
 ('Mercedes W201 ', ' 47', -137.0, 2),
 ('Москвич 412 ', ' 48', 135.0, 3),
 ('ГАЗ 21 ', ' 49', 170.0, 1),
 ('Peugeot 206 ', ' 50', 135.0, 2),
 ('ГАЗ 21 ', ' 51', 145.0, 3),
 ('Daewoo Nexia ', ' 52', 138.0, 1),
 ('ИЖ Ода ', ' 53', -160.0, 2),
 ('Lada 21063 ', ' 54', -163.0, 3),
 ('Daewoo Nexia ', ' 55', 125.0, 1),
 ('Daewoo Nexia ', ' 56', 143.0, 2),
 ('Mercedes W201 ', ' 57', 131.0, 3),
 ('Ford Sierra ', ' 58', 184.0, 1),
 ('ГАЗ 21 ', ' 59', -190.0, 2),
 ('Mercedes W201 ', ' 60', 178.0, 3),
 ('Nissan Pulsar ', ' 61', 172.0, 1),
 ('Nissan Pulsar ', ' 62', 195.0, 2),
 ('Daewoo Nexia ', ' 63', 178.0, 3),
 ('Mercedes W201 ', ' 64', 172.0, 1),
 ('Lada 21063 ', ' 65', 192.0, 2),
 ('Москвич 412 ', ' 66', -165.0, 3),
 ('Lada 21063 ', ' 67', 179.0, 1),
 ('Lada 21063 ', ' 68', 178.0, 2),
 ('ИЖ Ода ', ' 69', -202.0, 3),
 ('Daewoo Nexia ', ' 70', 153.0, 1),
 ('Ford Sierra ', ' 71', 141.0, 2),
 ('Peugeot 206 ', ' 72', 143.0, 3),
 ('Москвич 412 ', ' 73', 201.0, 1),
 ('Москвич 412 ', ' 74', 174.0, 2),
 ('Nissan Pulsar ', ' 75', 181.0, 3),
 ('Peugeot 206 ', ' 76', 160.0, 1),
 ('Москвич 412 ', ' 77', 156.0, 2),
 ('ГАЗ 21 ', ' 78', 168.0, 3),
 ('Nissan Pulsar ', ' 79', 173.0, 1),
 ('Москвич 412 ', ' 80', 204.0, 2),
 ('Daewoo Nexia ', ' 81', 175.0, 3),
 ('Daewoo Nexia ', ' 82', 181.0, 1),
 ('Nissan Pulsar ', ' 83', 208.0, 2),
 ('ИЖ Ода ', ' 84', 212.0, 3),
 ('Lada 21063 ', ' 85', 171.0, 1),
 ('Peugeot 206 ', ' 86', -205.0, 2),
 ('Daewoo Nexia ', ' 87', 173.0, 3),
 ('ГАЗ 21 ', ' 88', 163.0, 1),
 ('Peugeot 206 ', ' 89', 177.0, 2),
 ('Nissan Pulsar ', ' 90', -211.0, 3),
 ('Nissan Pulsar ', ' 91', 193.0, 1),
 ('Ford Sierra ', ' 92', 224.0, 2),
 ('ИЖ Ода ', ' 93', 230.0, 3),
 ('Москвич 412 ', ' 94', 175.0, 1),
 ('Daewoo Nexia ', ' 95', 189.0, 2),
 ('Ford Sierra ', ' 96', 209.0, 3),
 ('Peugeot 206 ', ' 97', 180.0, 1),
 ('Ford Sierra ', ' 98', -198.0, 2),
 ('Москвич 412 ', ' 99', 201.0, 3),
 ('Daewoo Nexia ', ' 100', -226.0, 1),
 ('Peugeot 206 ', ' 101', -240.0, 2),
 ('ИЖ Ода ', ' 102', -169.0, 3),
 ('ИЖ Ода ', ' 103', 234.0, 1),
 ('Nissan Pulsar ', ' 104', 241.0, 2),
 ('Lada 21063 ', ' 105', 198.0, 3),
 ('Ford Sierra ', ' 106', 221.0, 1),
 ('Ford Sierra ', ' 107', 239.0, 2),
 ('Москвич 412 ', ' 108', -215.0, 3),
 ('Daewoo Nexia ', ' 109', 205.0, 1),
 ('Peugeot 206 ', ' 110', 180.0, 2),
 ('ГАЗ 21 ', ' 111', -250.0, 3),
 ('Nissan Pulsar ', ' 112', 185.0, 1),
 ('Peugeot 206 ', ' 113', 184.0, 2),
 ('Ford Sierra ', ' 114', 174.0, 3),
 ('Nissan Pulsar ', ' 115', 209.0, 1),
 ('ИЖ Ода ', ' 116', -246.0, 2),
 ('Daewoo Nexia ', ' 117', 222.0, 3),
 ('Daewoo Nexia ', ' 118', 220.0, 1),
 ('ГАЗ 21 ', ' 119', 235.0, 2),
 ('Daewoo Nexia ', ' 120', 228.0, 3),
 ('ГАЗ 21 ', ' 121', 216.0, 1),
 ('Nissan Pulsar ', ' 122', 237.0, 2),
 ('ГАЗ 21 ', ' 123', 189.0, 3),
 ('ИЖ Ода ', ' 124', 263.0, 1),
 ('Daewoo Nexia ', ' 125', 270.0, 2),
 ('Daewoo Nexia ', ' 126', 222.0, 3),
 ('Mercedes W201 ', ' 127', 234.0, 1),
 ('Mercedes W201 ', ' 128', 224.0, 2),
 ('Lada 21063 ', ' 129', 228.0, 3),
 ('Peugeot 206 ', ' 130', -209.0, 1),
 ('Nissan Pulsar ', ' 131', -237.0, 2),
 ('Peugeot 206 ', ' 132', 234.0, 3),
 ('ГАЗ 21 ', ' 133', 260.0, 1),
 ('Mercedes W201 ', ' 134', 216.0, 2),
 ('ГАЗ 21 ', ' 135', 191.0, 3),
 ('Lada 21063 ', ' 136', 225.0, 1),
 ('ГАЗ 21 ', ' 137', 245.0, 2),
 ('ИЖ Ода ', ' 138', 201.0, 3),
 ('Daewoo Nexia ', ' 139', -261.0, 1),
 ('Ford Sierra ', ' 140', -231.0, 2),
 ('ИЖ Ода ', ' 141', -282.0, 3),
 ('Mercedes W201 ', ' 142', 252.0, 1),
 ('Ford Sierra ', ' 143', 225.0, 2),
 ('Москвич 412 ', ' 144', 285.0, 3),
 ('Москвич 412 ', ' 145', 270.0, 1),
 ('Daewoo Nexia ', ' 146', 234.0, 2),
 ('Mercedes W201 ', ' 147', 257.0, 3),
 ('Peugeot 206 ', ' 148', 245.0, 1),
 ('Daewoo Nexia ', ' 149', 253.0, 2),
 ('Peugeot 206 ', ' 150', 251.0, 3),
 ('ИЖ Ода ', ' 151', 265.0, 1),
 ('Daewoo Nexia ', ' 152', -245.0, 2),
 ('Mercedes W201 ', ' 153', 292.0, 3),
 ('Nissan Pulsar ', ' 154', 262.0, 1),
 ('Mercedes W201 ', ' 155', 296.0, 2),
 ('Nissan Pulsar ', ' 156', 281.0, 3),
 ('Москвич 412 ', ' 157', 224.0, 1),
 ('Москвич 412 ', ' 158', -296.0, 2),
 ('ИЖ Ода ', ' 159', 224.0, 3),
 ('Ford Sierra ', ' 160', 306.0, 1),
 ('Lada 21063 ', ' 161', -305.0, 2),
 ('ИЖ Ода ', ' 162', 230.0, 3),
 ('Daewoo Nexia ', ' 163', 235.0, 1),
 ('Lada 21063 ', ' 164', 215.0, 2),
 ('ГАЗ 21 ', ' 165', 276.0, 3),
 ('Москвич 412 ', ' 166', 289.0, 1),
 ('Ford Sierra ', ' 167', 313.0, 2),
 ('Peugeot 206 ', ' 168', -248.0, 3),
 ('Daewoo Nexia ', ' 169', 249.0, 1),
 ('Mercedes W201 ', ' 170', 308.0, 2),
 ('ГАЗ 21 ', ' 171', -299.0, 3),
 ('Mercedes W201 ', ' 172', 303.0, 1),
 ('Peugeot 206 ', ' 173', -260.0, 2),
 ('Ford Sierra ', ' 174', 326.0, 3),
 ('ИЖ Ода ', ' 175', 295.0, 1),
 ('Peugeot 206 ', ' 176', -287.0, 2),
 ('ГАЗ 21 ', ' 177', 277.0, 3),
 ('Nissan Pulsar ', ' 178', -228.0, 1),
 ('Daewoo Nexia ', ' 179', -324.0, 2),
 ('ИЖ Ода ', ' 180', 279.0, 3),
 ('ГАЗ 21 ', ' 181', 298.0, 1),
 ('Mercedes W201 ', ' 182', 266.0, 2),
 ('Lada 21063 ', ' 183', 287.0, 3),
 ('Daewoo Nexia ', ' 184', 287.0, 1),
 ('Daewoo Nexia ', ' 185', 231.0, 2),
 ('Daewoo Nexia ', ' 186', 283.0, 3),
 ('Ford Sierra ', ' 187', 336.0, 1),
 ('Москвич 412 ', ' 188', 257.0, 2),
 ('ИЖ Ода ', ' 189', 331.0, 3),
 ('Ford Sierra ', ' 190', 316.0, 1),
 ('Peugeot 206 ', ' 191', 261.0, 2),
 ('Ford Sierra ', ' 192', 246.0, 3),
 ('ГАЗ 21 ', ' 193', -314.0, 1),
 ('ГАЗ 21 ', ' 194', 322.0, 2),
 ('Москвич 412 ', ' 195', 326.0, 3),
 ('ИЖ Ода ', ' 196', 264.0, 1),
 ('Nissan Pulsar ', ' 197', -329.0, 2),
 ('ИЖ Ода ', ' 198', 332.0, 3),
 ('Daewoo Nexia ', ' 199', 242.0, 1),
 ('Lada 21063 ', ' 200', 302.0, 2),
 ('Lada 21063 ', ' 201', 353.0, 3),
 ('ГАЗ 21 ', ' 202', -326.0, 1),
 ('Mercedes W201 ', ' 203', 285.0, 2),
 ('Daewoo Nexia ', ' 204', 305.0, 3),
 ('Mercedes W201 ', ' 205', 288.0, 1),
 ('Ford Sierra ', ' 206', -329.0, 2),
 ('Mercedes W201 ', ' 207', 288.0, 3),
 ('Lada 21063 ', ' 208', 262.0, 1),
 ('Mercedes W201 ', ' 209', 253.0, 2),
 ('Mercedes W201 ', ' 210', -360.0, 3),
 ('Nissan Pulsar ', ' 211', 355.0, 1),
 ('Nissan Pulsar ', ' 212', 278.0, 2),
 ('Lada 21063 ', ' 213', 354.0, 3),
 ('Москвич 412 ', ' 214', 364.0, 1),
 ('ГАЗ 21 ', ' 215', 377.0, 2),
 ('Peugeot 206 ', ' 216', 289.0, 3),
 ('ИЖ Ода ', ' 217', -348.0, 1),
 ('ГАЗ 21 ', ' 218', 332.0, 2),
 ('Москвич 412 ', ' 219', 335.0, 3),
 ('ГАЗ 21 ', ' 220', 303.0, 1),
 ('Daewoo Nexia ', ' 221', 382.0, 2),
 ('Ford Sierra ', ' 222', 313.0, 3),
 ('Peugeot 206 ', ' 223', 314.0, 1),
 ('Nissan Pulsar ', ' 224', 322.0, 2),
 ('Peugeot 206 ', ' 225', -336.0, 3),
 ('Lada 21063 ', ' 226', 319.0, 1),
 ('Peugeot 206 ', ' 227', 381.0, 2),
 ('ИЖ Ода ', ' 228', 302.0, 3),
 ('Ford Sierra ', ' 229', 350.0, 1),
 ('Ford Sierra ', ' 230', 272.0, 2),
 ('Daewoo Nexia ', ' 231', 289.0, 3),
 ('ГАЗ 21 ', ' 232', 353.0, 1),
 ('Mercedes W201 ', ' 233', 387.0, 2),
 ('Peugeot 206 ', ' 234', 274.0, 3),
 ('Москвич 412 ', ' 235', 305.0, 1),
 ('ГАЗ 21 ', ' 236', 276.0, 2),
 ('Mercedes W201 ', ' 237', 345.0, 3),
 ('Ford Sierra ', ' 238', 372.0, 1),
 ('Lada 21063 ', ' 239', 302.0, 2),
 ('ИЖ Ода ', ' 240', 328.0, 3),
 ('Lada 21063 ', ' 241', -286.0, 1),
 ('Mercedes W201 ', ' 242', 367.0, 2),
 ('Peugeot 206 ', ' 243', 408.0, 3),
 ('ГАЗ 21 ', ' 244', 341.0, 1),
 ('ГАЗ 21 ', ' 245', 277.0, 2),
 ('Ford Sierra ', ' 246', 410.0, 3),
 ('Mercedes W201 ', ' 247', 334.0, 1),
 ('Mercedes W201 ', ' 248', 367.0, 2),
 ('Daewoo Nexia ', ' 249', 290.0, 3),
 ('ГАЗ 21 ', ' 250', -403.0, 1),
 ('Nissan Pulsar ', ' 251', 348.0, 2),
 ('Daewoo Nexia ', ' 252', -421.0, 3),
 ('Ford Sierra ', ' 253', 404.0, 1),
 ('Daewoo Nexia ', ' 254', 414.0, 2),
 ('Peugeot 206 ', ' 255', 285.0, 3),
 ('Mercedes W201 ', ' 256', 310.0, 1),
 ('Москвич 412 ', ' 257', 412.0, 2),
 ('Москвич 412 ', ' 258', 429.0, 3),
 ('Daewoo Nexia ', ' 259', 344.0, 1),
 ('Daewoo Nexia ', ' 260', 372.0, 2),
 ('Nissan Pulsar ', ' 261', 310.0, 3),
 ('Mercedes W201 ', ' 262', 294.0, 1),
 ('Ford Sierra ', ' 263', 421.0, 2),
 ('ГАЗ 21 ', ' 264', 361.0, 3),
 ('Lada 21063 ', ' 265', 422.0, 1),
 ('ГАЗ 21 ', ' 266', -324.0, 2),
 ('ГАЗ 21 ', ' 267', -360.0, 3),
 ('Lada 21063 ', ' 268', 322.0, 1),
 ('Peugeot 206 ', ' 269', 305.0, 2),
 ('Москвич 412 ', ' 270', -404.0, 3),
 ('Nissan Pulsar ', ' 271', -376.0, 1),
 ('Ford Sierra ', ' 272', 445.0, 2),
 ('Nissan Pulsar ', ' 273', 423.0, 3),
 ('Mercedes W201 ', ' 274', 303.0, 1),
 ('Ford Sierra ', ' 275', -375.0, 2),
 ('ГАЗ 21 ', ' 276', 435.0, 3),
 ('Lada 21063 ', ' 277', 367.0, 1),
 ('Daewoo Nexia ', ' 278', -393.0, 2),
 ('Ford Sierra ', ' 279', 444.0, 3),
 ('ИЖ Ода ', ' 280', 318.0, 1),
 ('Ford Sierra ', ' 281', -365.0, 2),
 ('Mercedes W201 ', ' 282', 427.0, 3),
 ('Peugeot 206 ', ' 283', 318.0, 1),
 ('Peugeot 206 ', ' 284', 374.0, 2),
 ('Lada 21063 ', ' 285', 343.0, 3),
 ('ИЖ Ода ', ' 286', 383.0, 1),
 ('Peugeot 206 ', ' 287', 393.0, 2),
 ('Москвич 412 ', ' 288', 369.0, 3),
 ('Lada 21063 ', ' 289', 352.0, 1),
 ('Nissan Pulsar ', ' 290', 343.0, 2),
 ('ГАЗ 21 ', ' 291', 429.0, 3),
 ('Nissan Pulsar ', ' 292', -435.0, 1),
 ('Mercedes W201 ', ' 293', -319.0, 2),
 ('ГАЗ 21 ', ' 294', 448.0, 3),
 ('Москвич 412 ', ' 295', 390.0, 1),
 ('Peugeot 206 ', ' 296', 455.0, 2),
 ('Ford Sierra ', ' 297', 415.0, 3),
 ('Peugeot 206 ', ' 298', 395.0, 1),
 ('Москвич 412 ', ' 299', 364.0, 2),
 ('Ford Sierra ', ' 300', -480.0, 3)]

# Получение данных

Получите все данные из таблицы сотрудников

In [26]:
with contextlib.closing(sqlite3.connect('dealership.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
      cursor.execute('SELECT * FROM Workers')
      data = cursor.fetchall()
data

[(1, 'Андрей', 20, 'холост'),
 (2, 'Никита', 25, 'женат'),
 (3, 'Иван', 35, 'холост'),
 (4, 'Андрей', 20, 'холост'),
 (5, 'Никита', 25, 'женат'),
 (6, 'Иван', 35, 'холост')]

Получите все данные из таблицы продаж

In [27]:
with contextlib.closing(sqlite3.connect('dealership.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
      cursor.execute('SELECT * FROM Sales')
      data = cursor.fetchall()
data

[(1, 'Lada 21063 ', ' 1', 117.0, 1),
 (2, 'Ford Sierra ', ' 2', 87.0, 2),
 (3, 'ИЖ Ода ', ' 3', 100.0, 3),
 (4, 'Nissan Pulsar ', ' 4', -91.0, 1),
 (5, 'Nissan Pulsar ', ' 5', -126.0, 2),
 (6, 'Lada 21063 ', ' 6', 89.0, 3),
 (7, 'Ford Sierra ', ' 7', 101.0, 1),
 (8, 'Daewoo Nexia ', ' 8', 99.0, 2),
 (9, 'Nissan Pulsar ', ' 9', 109.0, 3),
 (10, 'Москвич 412 ', ' 10', 109.0, 1),
 (11, 'Peugeot 206 ', ' 11', -95.0, 2),
 (12, 'ГАЗ 21 ', ' 12', 114.0, 3),
 (13, 'Москвич 412 ', ' 13', 95.0, 1),
 (14, 'Nissan Pulsar ', ' 14', 100.0, 2),
 (15, 'Nissan Pulsar ', ' 15', -95.0, 3),
 (16, 'Ford Sierra ', ' 16', 102.0, 1),
 (17, 'Mercedes W201 ', ' 17', 138.0, 2),
 (18, 'Nissan Pulsar ', ' 18', 138.0, 3),
 (19, 'Ford Sierra ', ' 19', 136.0, 1),
 (20, 'Lada 21063 ', ' 20', 125.0, 2),
 (21, 'Ford Sierra ', ' 21', 121.0, 3),
 (22, 'Ford Sierra ', ' 22', 105.0, 1),
 (23, 'Mercedes W201 ', ' 23', 136.0, 2),
 (24, 'Daewoo Nexia ', ' 24', 105.0, 3),
 (25, 'Nissan Pulsar ', ' 25', 145.0, 1),
 (26, 'Peugeot 206 ', ' 26', 113.0, 2),
 (27, 'Москвич 412 ', ' 27', 111.0, 3),
 (28, 'Daewoo Nexia ', ' 28', 152.0, 1),
 (29, 'Nissan Pulsar ', ' 29', 152.0, 2),
 (30, 'Peugeot 206 ', ' 30', 120.0, 3),
 (31, 'Москвич 412 ', ' 31', -129.0, 1),
 (32, 'ГАЗ 21 ', ' 32', 118.0, 2),
 (33, 'Москвич 412 ', ' 33', 160.0, 3),
 (34, 'ГАЗ 21 ', ' 34', 151.0, 1),
 (35, 'Mercedes W201 ', ' 35', 153.0, 2),
 (36, 'Lada 21063 ', ' 36', -147.0, 3),
 (37, 'Ford Sierra ', ' 37', 116.0, 1),
 (38, 'Ford Sierra ', ' 38', 151.0, 2),
 (39, 'Peugeot 206 ', ' 39', -116.0, 3),
 (40, 'Mercedes W201 ', ' 40', 112.0, 1),
 (41, 'Mercedes W201 ', ' 41', 118.0, 2),
 (42, 'Mercedes W201 ', ' 42', 153.0, 3),
 (43, 'Lada 21063 ', ' 43', 141.0, 1),
 (44, 'Peugeot 206 ', ' 44', 138.0, 2),
 (45, 'Mercedes W201 ', ' 45', 123.0, 3),
 (46, 'ГАЗ 21 ', ' 46', 118.0, 1),
 (47, 'Mercedes W201 ', ' 47', -137.0, 2),
 (48, 'Москвич 412 ', ' 48', 135.0, 3),
 (49, 'ГАЗ 21 ', ' 49', 170.0, 1),
 (50, 'Peugeot 206 ', ' 50', 135.0, 2),
 (51, 'ГАЗ 21 ', ' 51', 145.0, 3),
 (52, 'Daewoo Nexia ', ' 52', 138.0, 1),
 (53, 'ИЖ Ода ', ' 53', -160.0, 2),
 (54, 'Lada 21063 ', ' 54', -163.0, 3),
 (55, 'Daewoo Nexia ', ' 55', 125.0, 1),
 (56, 'Daewoo Nexia ', ' 56', 143.0, 2),
 (57, 'Mercedes W201 ', ' 57', 131.0, 3),
 (58, 'Ford Sierra ', ' 58', 184.0, 1),
 (59, 'ГАЗ 21 ', ' 59', -190.0, 2),
 (60, 'Mercedes W201 ', ' 60', 178.0, 3),
 (61, 'Nissan Pulsar ', ' 61', 172.0, 1),
 (62, 'Nissan Pulsar ', ' 62', 195.0, 2),
 (63, 'Daewoo Nexia ', ' 63', 178.0, 3),
 (64, 'Mercedes W201 ', ' 64', 172.0, 1),
 (65, 'Lada 21063 ', ' 65', 192.0, 2),
 (66, 'Москвич 412 ', ' 66', -165.0, 3),
 (67, 'Lada 21063 ', ' 67', 179.0, 1),
 (68, 'Lada 21063 ', ' 68', 178.0, 2),
 (69, 'ИЖ Ода ', ' 69', -202.0, 3),
 (70, 'Daewoo Nexia ', ' 70', 153.0, 1),
 (71, 'Ford Sierra ', ' 71', 141.0, 2),
 (72, 'Peugeot 206 ', ' 72', 143.0, 3),
 (73, 'Москвич 412 ', ' 73', 201.0, 1),
 (74, 'Москвич 412 ', ' 74', 174.0, 2),
 (75, 'Nissan Pulsar ', ' 75', 181.0, 3),
 (76, 'Peugeot 206 ', ' 76', 160.0, 1),
 (77, 'Москвич 412 ', ' 77', 156.0, 2),
 (78, 'ГАЗ 21 ', ' 78', 168.0, 3),
 (79, 'Nissan Pulsar ', ' 79', 173.0, 1),
 (80, 'Москвич 412 ', ' 80', 204.0, 2),
 (81, 'Daewoo Nexia ', ' 81', 175.0, 3),
 (82, 'Daewoo Nexia ', ' 82', 181.0, 1),
 (83, 'Nissan Pulsar ', ' 83', 208.0, 2),
 (84, 'ИЖ Ода ', ' 84', 212.0, 3),
 (85, 'Lada 21063 ', ' 85', 171.0, 1),
 (86, 'Peugeot 206 ', ' 86', -205.0, 2),
 (87, 'Daewoo Nexia ', ' 87', 173.0, 3),
 (88, 'ГАЗ 21 ', ' 88', 163.0, 1),
 (89, 'Peugeot 206 ', ' 89', 177.0, 2),
 (90, 'Nissan Pulsar ', ' 90', -211.0, 3),
 (91, 'Nissan Pulsar ', ' 91', 193.0, 1),
 (92, 'Ford Sierra ', ' 92', 224.0, 2),
 (93, 'ИЖ Ода ', ' 93', 230.0, 3),
 (94, 'Москвич 412 ', ' 94', 175.0, 1),
 (95, 'Daewoo Nexia ', ' 95', 189.0, 2),
 (96, 'Ford Sierra ', ' 96', 209.0, 3),
 (97, 'Peugeot 206 ', ' 97', 180.0, 1),
 (98, 'Ford Sierra ', ' 98', -198.0, 2),
 (99, 'Москвич 412 ', ' 99', 201.0, 3),
 (100, 'Daewoo Nexia ', ' 100', -226.0, 1),
 (101, 'Peugeot 206 ', ' 101', -240.0, 2),
 (102, 'ИЖ Ода ', ' 102', -169.0, 3),
 (103, 'ИЖ Ода ', ' 103', 234.0, 1),
 (104, 'Nissan Pulsar ', ' 104', 241.0, 2),
 (105, 'Lada 21063 ', ' 105', 198.0, 3),
 (106, 'Ford Sierra ', ' 106', 221.0, 1),
 (107, 'Ford Sierra ', ' 107', 239.0, 2),
 (108, 'Москвич 412 ', ' 108', -215.0, 3),
 (109, 'Daewoo Nexia ', ' 109', 205.0, 1),
 (110, 'Peugeot 206 ', ' 110', 180.0, 2),
 (111, 'ГАЗ 21 ', ' 111', -250.0, 3),
 (112, 'Nissan Pulsar ', ' 112', 185.0, 1),
 (113, 'Peugeot 206 ', ' 113', 184.0, 2),
 (114, 'Ford Sierra ', ' 114', 174.0, 3),
 (115, 'Nissan Pulsar ', ' 115', 209.0, 1),
 (116, 'ИЖ Ода ', ' 116', -246.0, 2),
 (117, 'Daewoo Nexia ', ' 117', 222.0, 3),
 (118, 'Daewoo Nexia ', ' 118', 220.0, 1),
 (119, 'ГАЗ 21 ', ' 119', 235.0, 2),
 (120, 'Daewoo Nexia ', ' 120', 228.0, 3),
 (121, 'ГАЗ 21 ', ' 121', 216.0, 1),
 (122, 'Nissan Pulsar ', ' 122', 237.0, 2),
 (123, 'ГАЗ 21 ', ' 123', 189.0, 3),
 (124, 'ИЖ Ода ', ' 124', 263.0, 1),
 (125, 'Daewoo Nexia ', ' 125', 270.0, 2),
 (126, 'Daewoo Nexia ', ' 126', 222.0, 3),
 (127, 'Mercedes W201 ', ' 127', 234.0, 1),
 (128, 'Mercedes W201 ', ' 128', 224.0, 2),
 (129, 'Lada 21063 ', ' 129', 228.0, 3),
 (130, 'Peugeot 206 ', ' 130', -209.0, 1),
 (131, 'Nissan Pulsar ', ' 131', -237.0, 2),
 (132, 'Peugeot 206 ', ' 132', 234.0, 3),
 (133, 'ГАЗ 21 ', ' 133', 260.0, 1),
 (134, 'Mercedes W201 ', ' 134', 216.0, 2),
 (135, 'ГАЗ 21 ', ' 135', 191.0, 3),
 (136, 'Lada 21063 ', ' 136', 225.0, 1),
 (137, 'ГАЗ 21 ', ' 137', 245.0, 2),
 (138, 'ИЖ Ода ', ' 138', 201.0, 3),
 (139, 'Daewoo Nexia ', ' 139', -261.0, 1),
 (140, 'Ford Sierra ', ' 140', -231.0, 2),
 (141, 'ИЖ Ода ', ' 141', -282.0, 3),
 (142, 'Mercedes W201 ', ' 142', 252.0, 1),
 (143, 'Ford Sierra ', ' 143', 225.0, 2),
 (144, 'Москвич 412 ', ' 144', 285.0, 3),
 (145, 'Москвич 412 ', ' 145', 270.0, 1),
 (146, 'Daewoo Nexia ', ' 146', 234.0, 2),
 (147, 'Mercedes W201 ', ' 147', 257.0, 3),
 (148, 'Peugeot 206 ', ' 148', 245.0, 1),
 (149, 'Daewoo Nexia ', ' 149', 253.0, 2),
 (150, 'Peugeot 206 ', ' 150', 251.0, 3),
 (151, 'ИЖ Ода ', ' 151', 265.0, 1),
 (152, 'Daewoo Nexia ', ' 152', -245.0, 2),
 (153, 'Mercedes W201 ', ' 153', 292.0, 3),
 (154, 'Nissan Pulsar ', ' 154', 262.0, 1),
 (155, 'Mercedes W201 ', ' 155', 296.0, 2),
 (156, 'Nissan Pulsar ', ' 156', 281.0, 3),
 (157, 'Москвич 412 ', ' 157', 224.0, 1),
 (158, 'Москвич 412 ', ' 158', -296.0, 2),
 (159, 'ИЖ Ода ', ' 159', 224.0, 3),
 (160, 'Ford Sierra ', ' 160', 306.0, 1),
 (161, 'Lada 21063 ', ' 161', -305.0, 2),
 (162, 'ИЖ Ода ', ' 162', 230.0, 3),
 (163, 'Daewoo Nexia ', ' 163', 235.0, 1),
 (164, 'Lada 21063 ', ' 164', 215.0, 2),
 (165, 'ГАЗ 21 ', ' 165', 276.0, 3),
 (166, 'Москвич 412 ', ' 166', 289.0, 1),
 (167, 'Ford Sierra ', ' 167', 313.0, 2),
 (168, 'Peugeot 206 ', ' 168', -248.0, 3),
 (169, 'Daewoo Nexia ', ' 169', 249.0, 1),
 (170, 'Mercedes W201 ', ' 170', 308.0, 2),
 (171, 'ГАЗ 21 ', ' 171', -299.0, 3),
 (172, 'Mercedes W201 ', ' 172', 303.0, 1),
 (173, 'Peugeot 206 ', ' 173', -260.0, 2),
 (174, 'Ford Sierra ', ' 174', 326.0, 3),
 (175, 'ИЖ Ода ', ' 175', 295.0, 1),
 (176, 'Peugeot 206 ', ' 176', -287.0, 2),
 (177, 'ГАЗ 21 ', ' 177', 277.0, 3),
 (178, 'Nissan Pulsar ', ' 178', -228.0, 1),
 (179, 'Daewoo Nexia ', ' 179', -324.0, 2),
 (180, 'ИЖ Ода ', ' 180', 279.0, 3),
 (181, 'ГАЗ 21 ', ' 181', 298.0, 1),
 (182, 'Mercedes W201 ', ' 182', 266.0, 2),
 (183, 'Lada 21063 ', ' 183', 287.0, 3),
 (184, 'Daewoo Nexia ', ' 184', 287.0, 1),
 (185, 'Daewoo Nexia ', ' 185', 231.0, 2),
 (186, 'Daewoo Nexia ', ' 186', 283.0, 3),
 (187, 'Ford Sierra ', ' 187', 336.0, 1),
 (188, 'Москвич 412 ', ' 188', 257.0, 2),
 (189, 'ИЖ Ода ', ' 189', 331.0, 3),
 (190, 'Ford Sierra ', ' 190', 316.0, 1),
 (191, 'Peugeot 206 ', ' 191', 261.0, 2),
 (192, 'Ford Sierra ', ' 192', 246.0, 3),
 (193, 'ГАЗ 21 ', ' 193', -314.0, 1),
 (194, 'ГАЗ 21 ', ' 194', 322.0, 2),
 (195, 'Москвич 412 ', ' 195', 326.0, 3),
 (196, 'ИЖ Ода ', ' 196', 264.0, 1),
 (197, 'Nissan Pulsar ', ' 197', -329.0, 2),
 (198, 'ИЖ Ода ', ' 198', 332.0, 3),
 (199, 'Daewoo Nexia ', ' 199', 242.0, 1),
 (200, 'Lada 21063 ', ' 200', 302.0, 2),
 (201, 'Lada 21063 ', ' 201', 353.0, 3),
 (202, 'ГАЗ 21 ', ' 202', -326.0, 1),
 (203, 'Mercedes W201 ', ' 203', 285.0, 2),
 (204, 'Daewoo Nexia ', ' 204', 305.0, 3),
 (205, 'Mercedes W201 ', ' 205', 288.0, 1),
 (206, 'Ford Sierra ', ' 206', -329.0, 2),
 (207, 'Mercedes W201 ', ' 207', 288.0, 3),
 (208, 'Lada 21063 ', ' 208', 262.0, 1),
 (209, 'Mercedes W201 ', ' 209', 253.0, 2),
 (210, 'Mercedes W201 ', ' 210', -360.0, 3),
 (211, 'Nissan Pulsar ', ' 211', 355.0, 1),
 (212, 'Nissan Pulsar ', ' 212', 278.0, 2),
 (213, 'Lada 21063 ', ' 213', 354.0, 3),
 (214, 'Москвич 412 ', ' 214', 364.0, 1),
 (215, 'ГАЗ 21 ', ' 215', 377.0, 2),
 (216, 'Peugeot 206 ', ' 216', 289.0, 3),
 (217, 'ИЖ Ода ', ' 217', -348.0, 1),
 (218, 'ГАЗ 21 ', ' 218', 332.0, 2),
 (219, 'Москвич 412 ', ' 219', 335.0, 3),
 (220, 'ГАЗ 21 ', ' 220', 303.0, 1),
 (221, 'Daewoo Nexia ', ' 221', 382.0, 2),
 (222, 'Ford Sierra ', ' 222', 313.0, 3),
 (223, 'Peugeot 206 ', ' 223', 314.0, 1),
 (224, 'Nissan Pulsar ', ' 224', 322.0, 2),
 (225, 'Peugeot 206 ', ' 225', -336.0, 3),
 (226, 'Lada 21063 ', ' 226', 319.0, 1),
 (227, 'Peugeot 206 ', ' 227', 381.0, 2),
 (228, 'ИЖ Ода ', ' 228', 302.0, 3),
 (229, 'Ford Sierra ', ' 229', 350.0, 1),
 (230, 'Ford Sierra ', ' 230', 272.0, 2),
 (231, 'Daewoo Nexia ', ' 231', 289.0, 3),
 (232, 'ГАЗ 21 ', ' 232', 353.0, 1),
 (233, 'Mercedes W201 ', ' 233', 387.0, 2),
 (234, 'Peugeot 206 ', ' 234', 274.0, 3),
 (235, 'Москвич 412 ', ' 235', 305.0, 1),
 (236, 'ГАЗ 21 ', ' 236', 276.0, 2),
 (237, 'Mercedes W201 ', ' 237', 345.0, 3),
 (238, 'Ford Sierra ', ' 238', 372.0, 1),
 (239, 'Lada 21063 ', ' 239', 302.0, 2),
 (240, 'ИЖ Ода ', ' 240', 328.0, 3),
 (241, 'Lada 21063 ', ' 241', -286.0, 1),
 (242, 'Mercedes W201 ', ' 242', 367.0, 2),
 (243, 'Peugeot 206 ', ' 243', 408.0, 3),
 (244, 'ГАЗ 21 ', ' 244', 341.0, 1),
 (245, 'ГАЗ 21 ', ' 245', 277.0, 2),
 (246, 'Ford Sierra ', ' 246', 410.0, 3),
 (247, 'Mercedes W201 ', ' 247', 334.0, 1),
 (248, 'Mercedes W201 ', ' 248', 367.0, 2),
 (249, 'Daewoo Nexia ', ' 249', 290.0, 3),
 (250, 'ГАЗ 21 ', ' 250', -403.0, 1),
 (251, 'Nissan Pulsar ', ' 251', 348.0, 2),
 (252, 'Daewoo Nexia ', ' 252', -421.0, 3),
 (253, 'Ford Sierra ', ' 253', 404.0, 1),
 (254, 'Daewoo Nexia ', ' 254', 414.0, 2),
 (255, 'Peugeot 206 ', ' 255', 285.0, 3),
 (256, 'Mercedes W201 ', ' 256', 310.0, 1),
 (257, 'Москвич 412 ', ' 257', 412.0, 2),
 (258, 'Москвич 412 ', ' 258', 429.0, 3),
 (259, 'Daewoo Nexia ', ' 259', 344.0, 1),
 (260, 'Daewoo Nexia ', ' 260', 372.0, 2),
 (261, 'Nissan Pulsar ', ' 261', 310.0, 3),
 (262, 'Mercedes W201 ', ' 262', 294.0, 1),
 (263, 'Ford Sierra ', ' 263', 421.0, 2),
 (264, 'ГАЗ 21 ', ' 264', 361.0, 3),
 (265, 'Lada 21063 ', ' 265', 422.0, 1),
 (266, 'ГАЗ 21 ', ' 266', -324.0, 2),
 (267, 'ГАЗ 21 ', ' 267', -360.0, 3),
 (268, 'Lada 21063 ', ' 268', 322.0, 1),
 (269, 'Peugeot 206 ', ' 269', 305.0, 2),
 (270, 'Москвич 412 ', ' 270', -404.0, 3),
 (271, 'Nissan Pulsar ', ' 271', -376.0, 1),
 (272, 'Ford Sierra ', ' 272', 445.0, 2),
 (273, 'Nissan Pulsar ', ' 273', 423.0, 3),
 (274, 'Mercedes W201 ', ' 274', 303.0, 1),
 (275, 'Ford Sierra ', ' 275', -375.0, 2),
 (276, 'ГАЗ 21 ', ' 276', 435.0, 3),
 (277, 'Lada 21063 ', ' 277', 367.0, 1),
 (278, 'Daewoo Nexia ', ' 278', -393.0, 2),
 (279, 'Ford Sierra ', ' 279', 444.0, 3),
 (280, 'ИЖ Ода ', ' 280', 318.0, 1),
 (281, 'Ford Sierra ', ' 281', -365.0, 2),
 (282, 'Mercedes W201 ', ' 282', 427.0, 3),
 (283, 'Peugeot 206 ', ' 283', 318.0, 1),
 (284, 'Peugeot 206 ', ' 284', 374.0, 2),
 (285, 'Lada 21063 ', ' 285', 343.0, 3),
 (286, 'ИЖ Ода ', ' 286', 383.0, 1),
 (287, 'Peugeot 206 ', ' 287', 393.0, 2),
 (288, 'Москвич 412 ', ' 288', 369.0, 3),
 (289, 'Lada 21063 ', ' 289', 352.0, 1),
 (290, 'Nissan Pulsar ', ' 290', 343.0, 2),
 (291, 'ГАЗ 21 ', ' 291', 429.0, 3),
 (292, 'Nissan Pulsar ', ' 292', -435.0, 1),
 (293, 'Mercedes W201 ', ' 293', -319.0, 2),
 (294, 'ГАЗ 21 ', ' 294', 448.0, 3),
 (295, 'Москвич 412 ', ' 295', 390.0, 1),
 (296, 'Peugeot 206 ', ' 296', 455.0, 2),
 (297, 'Ford Sierra ', ' 297', 415.0, 3),
 (298, 'Peugeot 206 ', ' 298', 395.0, 1),
 (299, 'Москвич 412 ', ' 299', 364.0, 2),
 (300, 'Ford Sierra ', ' 300', -480.0, 3)]

# Анализ имеющихся данных

Посмотрите, попробуйте разные запросы (в т.ч. группировку по моделям, продавцам). Попробуйте какие-нибудь выводы.

Примеры:

Выведите среднее значение результата продаж

In [28]:
with contextlib.closing(sqlite3.connect('dealership.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
                       SELECT  AVG (trade_result) as avg_result FROM SALES
                       ''')
        data = cursor.fetchall()
data

[(154.62,)]

Выведите среднее значение результата продаж для каждого работника в отдельности

In [34]:
with contextlib.closing(sqlite3.connect('dealership.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
                       SELECT   worker_id,AVG (trade_result) as avg_result FROM SALES GROUP BY worker_id

                       ''')
        data = cursor.fetchall()
data

[(1, 175.5), (2, 129.86), (3, 158.5)]

Выведите среднее значение результата продаж для каждого работника в отдельности, и для каждого результата выведите данные о работнике из таблицы `Workers`

In [39]:
with contextlib.closing(sqlite3.connect('dealership.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
                      SELECT  AVG(trade_result) as avg_result, Workers.* FROM Sales JOIN Workers ON Workers.id = Sales.worker_id GROUP BY worker_id
                      ''')
        data = cursor.fetchall()
data

[(175.5, 1, 'Андрей', 20, 'холост'),
 (129.86, 2, 'Никита', 25, 'женат'),
 (158.5, 3, 'Иван', 35, 'холост')]

# Построение модели прогнозирования средствами SQL

Собственник предприятия хотел бы выбрать наиболее перспективного сотрудника. Показатель успешности - вероятное значение продаж на следующий период.

Спрогнозируйте следующее значение продажи каждого сотрдуника. Используйте оконное скользящее среднее (поэкспериментируйте с размером окна).

In [50]:
with contextlib.closing(sqlite3.connect('dealership.db')) as connection:
    with contextlib.closing(connection.cursor()) as cursor:
        cursor.execute('''
                      WITH SalesData AS (
                SELECT
                    worker_id,
                    trade_result,
                    ROW_NUMBER() OVER (PARTITION BY worker_id ) AS row_num
                FROM Sales
            )
            SELECT
                worker_id,
                AVG(trade_result) OVER (PARTITION BY worker_id ORDER BY row_num ROWS BETWEEN 1 PRECEDING AND 1 PRECEDING) AS forecasted_sales
            FROM SalesData
                      ''')

        data = cursor.fetchall()
data

[(1, None),
 (1, 117.0),
 (1, -91.0),
 (1, 101.0),
 (1, 109.0),
 (1, 95.0),
 (1, 102.0),
 (1, 136.0),
 (1, 105.0),
 (1, 145.0),
 (1, 152.0),
 (1, -129.0),
 (1, 151.0),
 (1, 116.0),
 (1, 112.0),
 (1, 141.0),
 (1, 118.0),
 (1, 170.0),
 (1, 138.0),
 (1, 125.0),
 (1, 184.0),
 (1, 172.0),
 (1, 172.0),
 (1, 179.0),
 (1, 153.0),
 (1, 201.0),
 (1, 160.0),
 (1, 173.0),
 (1, 181.0),
 (1, 171.0),
 (1, 163.0),
 (1, 193.0),
 (1, 175.0),
 (1, 180.0),
 (1, -226.0),
 (1, 234.0),
 (1, 221.0),
 (1, 205.0),
 (1, 185.0),
 (1, 209.0),
 (1, 220.0),
 (1, 216.0),
 (1, 263.0),
 (1, 234.0),
 (1, -209.0),
 (1, 260.0),
 (1, 225.0),
 (1, -261.0),
 (1, 252.0),
 (1, 270.0),
 (1, 245.0),
 (1, 265.0),
 (1, 262.0),
 (1, 224.0),
 (1, 306.0),
 (1, 235.0),
 (1, 289.0),
 (1, 249.0),
 (1, 303.0),
 (1, 295.0),
 (1, -228.0),
 (1, 298.0),
 (1, 287.0),
 (1, 336.0),
 (1, 316.0),
 (1, -314.0),
 (1, 264.0),
 (1, 242.0),
 (1, -326.0),
 (1, 288.0),
 (1, 262.0),
 (1, 355.0),
 (1, 364.0),
 (1, -348.0),
 (1, 303.0),
 (1, 314.0),
 (1, 319.0),
 (1, 350.0),
 (1, 353.0),
 (1, 305.0),
 (1, 372.0),
 (1, -286.0),
 (1, 341.0),
 (1, 334.0),
 (1, -403.0),
 (1, 404.0),
 (1, 310.0),
 (1, 344.0),
 (1, 294.0),
 (1, 422.0),
 (1, 322.0),
 (1, -376.0),
 (1, 303.0),
 (1, 367.0),
 (1, 318.0),
 (1, 318.0),
 (1, 383.0),
 (1, 352.0),
 (1, -435.0),
 (1, 390.0),
 (2, None),
 (2, 87.0),
 (2, -126.0),
 (2, 99.0),
 (2, -95.0),
 (2, 100.0),
 (2, 138.0),
 (2, 125.0),
 (2, 136.0),
 (2, 113.0),
 (2, 152.0),
 (2, 118.0),
 (2, 153.0),
 (2, 151.0),
 (2, 118.0),
 (2, 138.0),
 (2, -137.0),
 (2, 135.0),
 (2, -160.0),
 (2, 143.0),
 (2, -190.0),
 (2, 195.0),
 (2, 192.0),
 (2, 178.0),
 (2, 141.0),
 (2, 174.0),
 (2, 156.0),
 (2, 204.0),
 (2, 208.0),
 (2, -205.0),
 (2, 177.0),
 (2, 224.0),
 (2, 189.0),
 (2, -198.0),
 (2, -240.0),
 (2, 241.0),
 (2, 239.0),
 (2, 180.0),
 (2, 184.0),
 (2, -246.0),
 (2, 235.0),
 (2, 237.0),
 (2, 270.0),
 (2, 224.0),
 (2, -237.0),
 (2, 216.0),
 (2, 245.0),
 (2, -231.0),
 (2, 225.0),
 (2, 234.0),
 (2, 253.0),
 (2, -245.0),
 (2, 296.0),
 (2, -296.0),
 (2, -305.0),
 (2, 215.0),
 (2, 313.0),
 (2, 308.0),
 (2, -260.0),
 (2, -287.0),
 (2, -324.0),
 (2, 266.0),
 (2, 231.0),
 (2, 257.0),
 (2, 261.0),
 (2, 322.0),
 (2, -329.0),
 (2, 302.0),
 (2, 285.0),
 (2, -329.0),
 (2, 253.0),
 (2, 278.0),
 (2, 377.0),
 (2, 332.0),
 (2, 382.0),
 (2, 322.0),
 (2, 381.0),
 (2, 272.0),
 (2, 387.0),
 (2, 276.0),
 (2, 302.0),
 (2, 367.0),
 (2, 277.0),
 (2, 367.0),
 (2, 348.0),
 (2, 414.0),
 (2, 412.0),
 (2, 372.0),
 (2, 421.0),
 (2, -324.0),
 (2, 305.0),
 (2, 445.0),
 (2, -375.0),
 (2, -393.0),
 (2, -365.0),
 (2, 374.0),
 (2, 393.0),
 (2, 343.0),
 (2, -319.0),
 (2, 455.0),
 (3, None),
 (3, 100.0),
 (3, 89.0),
 (3, 109.0),
 (3, 114.0),
 (3, -95.0),
 (3, 138.0),
 (3, 121.0),
 (3, 105.0),
 (3, 111.0),
 (3, 120.0),
 (3, 160.0),
 (3, -147.0),
 (3, -116.0),
 (3, 153.0),
 (3, 123.0),
 (3, 135.0),
 (3, 145.0),
 (3, -163.0),
 (3, 131.0),
 (3, 178.0),
 (3, 178.0),
 (3, -165.0),
 (3, -202.0),
 (3, 143.0),
 (3, 181.0),
 (3, 168.0),
 (3, 175.0),
 (3, 212.0),
 (3, 173.0),
 (3, -211.0),
 (3, 230.0),
 (3, 209.0),
 (3, 201.0),
 (3, -169.0),
 (3, 198.0),
 (3, -215.0),
 (3, -250.0),
 (3, 174.0),
 (3, 222.0),
 (3, 228.0),
 (3, 189.0),
 (3, 222.0),
 (3, 228.0),
 (3, 234.0),
 (3, 191.0),
 (3, 201.0),
 (3, -282.0),
 (3, 285.0),
 (3, 257.0),
 (3, 251.0),
 (3, 292.0),
 (3, 281.0),
 (3, 224.0),
 (3, 230.0),
 (3, 276.0),
 (3, -248.0),
 (3, -299.0),
 (3, 326.0),
 (3, 277.0),
 (3, 279.0),
 (3, 287.0),
 (3, 283.0),
 (3, 331.0),
 (3, 246.0),
 (3, 326.0),
 (3, 332.0),
 (3, 353.0),
 (3, 305.0),
 (3, 288.0),
 (3, -360.0),
 (3, 354.0),
 (3, 289.0),
 (3, 335.0),
 (3, 313.0),
 (3, -336.0),
 (3, 302.0),
 (3, 289.0),
 (3, 274.0),
 (3, 345.0),
 (3, 328.0),
 (3, 408.0),
 (3, 410.0),
 (3, 290.0),
 (3, -421.0),
 (3, 285.0),
 (3, 429.0),
 (3, 310.0),
 (3, 361.0),
 (3, -360.0),
 (3, -404.0),
 (3, 423.0),
 (3, 435.0),
 (3, 444.0),
 (3, 427.0),
 (3, 343.0),
 (3, 369.0),
 (3, 429.0),
 (3, 448.0),
 (3, 415.0)]

# Выводы

В ходе данной лабораторной работы, я получила навыки работы с SQLite. По ходу работы я прочитала данные из Excel, создала по ним базу данных и таблицы "Workers"и "Sales". Затем вставила в таблицы данные и научились получать их с помощью запросов. Также повыводили раздичные запросы по среднему значению результата продаж и  попыталась построить модель прогнозирования  средствами SQL. Данные знания пригодятся для выполнения следующих работ.